<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Travelx | Rental Homes </title>
</head>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="login">Login</a>
    <a href="signup">Signup</a>
</div>


<div class="header">
    <div>
        <span class="openbtn" onclick="openNav()">&#9776;</span>
        <h1>Travelx</h1>
        <h3>Holiday Rental Places</h3>
    </div>
</div>


<body>


    <div class="main-landing-page">
        <div th:insert="~{card :: main-card}"></div>
    </div>

    <!-- Pagination links -->
    <div class="pagination" th:if="${totalPages > 1}">
        <ul>
            <li th:class="${currentPage == 0 ? 'disabled' : ''}">
                <a th:href="@{/product(page=0)}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
            </li>
            <li th:class="${currentPage == 0 ? 'disabled' : ''}">
                <a th:href="@{/product(page=${currentPage - 1})}" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageNumber == currentPage ? 'active' : ''}">
                <a th:href="@{/product(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                <a th:href="@{/product(page=${currentPage + 1})}" aria-label="Next"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
            <li th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                <a th:href="@{/product(page=${totalPages - 1})}" aria-label="Last"><span
                        aria-hidden="true">&raquo;&raquo;</span></a>
            </li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>